* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.slider {
    margin-top: 10%;
    display: flex;
    justify-content: center;
}
.slider .container {
    width: 90%;
}
.slide_containte .img_slide{
    position: relative;
    width: 100%;
}

.img_slide img {
    position: absolute;
    left: 0;
    width: 100%;
    height: 20em;
}

.active {
    z-index: 5;
    /* transition: 3s; */
    /* scroll-behavior: smooth; */

}

@media (orientation: landscape) {
    .slider {
        margin-top: 3%;
    }
    .slider .container {
        width: 70%;
    }
    .img_slide img {
        height: 17em;
    }
}

@media screen and (min-width: 900px) {
    .img_slide img {
        height: 30em;
    }
}